h1 {
    color:red;
    text-align:center;
}

p {
    color:red;
    text-align:center;
}

div {
    background-color:teal;
    text-align: center;
    width:30px;
    height:100px;
    margin:30px;
    padding:20px;
    font-family: Arial, sans-serif;
    font-size:14%;
    font-weight:bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
table {
    border:2px solid black;
    color:red;
    border-collapse:collapse
}

th, td {
    border: 1px solid black;
    border-collapse:collapse;
}

ul {
    text-align: center;
}

