h1 {
    color:red;
    text-align:center;

}

p {
    color:red;
    text-align:center;
}

div {
    background-color:teal;
    width:10px;
    height:400px;
    margin:30px;
    padding:20px;
    font-family: Arial, sans-serif;
    font-size:28px;
    font-weight:bold;
}

table {
    border:3px solid blue;
    color:red;
}

